/*************************************
*
*Author: Lidia Dalecka
*Date: 26.11.2021
*
*************************************/
a{
    color: crimson;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    color:darkmagenta;
    text-decoration: underline;
    background-color: aquamarine;
}